.App {
  background: linear-gradient(#FAC368, #EB6C52); 
  border: 0;
  color: #FFF;
  height: 100vh;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.topright {
  position: absolute;
  top: .5em;
  right: .5em;
}

.topleft {
  position: absolute;
  top: .5em;
  left: .5em;
}

input {
  background: transparent;
  border: none;
  color: #FFF;
  font-family: inherit;
  font-size: 1.2em;
  text-align: center;
}

input::placeholder {
  opacity: 1;
}