.History {
  background: linear-gradient(#FAC368, #EB6C52); 
  border: 0;
  color: #FFF;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.History h3 {
  font-size: 1.2em;
  top: 1.2em;
  left: 1em;
}

/*
  ========================================
  TaskItem Component Styles
  ========================================
*/

.History-item {
  margin: .5em;
  display: flex;
  align-items: center;
}

.History i {
  margin-right: .5em;
}

.History p {
  display: inline-block;
}

.History-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 4em;
  justify-content: flex-start;
  align-items: center;
}

/*
  ========================================
  Media Queries
  ========================================
*/ 

@media screen and (min-width: 1000px) {
  .History {
    height: 80vh;
    width: 17em;
  }
}

@media screen and (min-width: 1400px) {
  .History {
    height: 55vh;
    width: 17em;
  }
}