.info {
  border-radius: 1.5em;
  position: fixed;
  width: 95%;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 3em 1em 1em 1em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.info .topright {
  font-size: 1.5em;
}

.info p {
  line-height: 1.5em;
}

.info h3 {
  margin-top: 1em;
  text-align: center;
}

.info div {
  margin-bottom: .5em;
}

.info i {
  margin-right: .3em;
}

.info a {
  color: #FFF;
}

.same-line {
  display: inline-block;
}

/*
  ========================================
  Media Queries
  ========================================
*/

@media screen and (min-width: 1000px) {
  .info {
    height: 77.6vh;
    width: 16.15em;
  }
}

@media screen and (min-width: 1400px) {
  .info {
    height: 53.35vh;
    width: 16.15em;
    padding: 2em 1em 1em 1em;
  }
  
  .info p {
    line-height: 1.3em;
  }

  .info h3 {
    margin-top: .7em;
    text-align: center;
  }

  .info div {
    margin-bottom: 0em;
  }
}
