.PomodoroTimer {
  border: 0;
  color: #FFF;
  height: 100vh;
  position: relative;
}

.PomodoroBackground {
  margin: auto;
  background: linear-gradient(#FAC368, #EB6C52);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.RestBackground {
  margin: auto;
  background: linear-gradient(#27AAC5, #2E58B8);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
  ========================================
  CSSTransitionGroup Styles
  ========================================
*/

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-out;
  transition-delay: 500ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.gradientTransition-enter {
  opacity: 0;
}

.gradientTransition-enter.gradientTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.gradientTransition-leave {
  opacity: 1;
}

.gradientTransition-leave.gradientTransition-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/*
  ========================================
  Message Styles
  ========================================
*/

.message {
  font-size: 1.2em;
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  text-align: center;
}

/*
  ========================================
  Timer Styles
  ========================================
*/

.timer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 12em;
  width: 12em;
}

.timer p {
  font-size: 2em;
}

.timer i {
  font-size: 3em;
  margin: .2em;
}

.play-reset {
  font-size: 3.5em;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13%;
  margin: auto;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(-90deg);

}

@-webkit-keyframes svg_pulse {
  0% {filter: drop-shadow( 0 0 .5em #FFF );}
  50% {filter: drop-shadow( 0 0 1.5em #FFF );}
  100% {filter: drop-shadow( 0 0 .5em #FFF );}
}

@keyframes svg_pulse {
  0% {filter: drop-shadow( 0 0 .5em #FFF );}
  50% {filter: drop-shadow( 0 0 1.5em #FFF );}
  100% {filter: drop-shadow( 0 0 .5em #FFF );}
}

.pulse {
  -webkit-animation: svg_pulse 3s linear infinite;
  animation: svg_pulse 3s linear infinite;
}

/*
  ========================================
  Media Queries
  ========================================
*/ 

@media screen and (min-width: 1000px) {
  .PomodoroTimer {
    height: 80vh;
    width: 17em;
  }
  
  .PomodoroBackground {
    height: 80vh;
    width: 17em;
  }
  
  .RestBackground {
    height: 80vh;
    width: 17em;
  }
}

@media screen and (min-width: 1400px) {
  .PomodoroTimer {
    height: 55vh;
    width: 17em;
  }
  
  .PomodoroBackground {
    height: 55vh;
    width: 17em;
  }
  
  .RestBackground {
    height: 55vh;
    width: 17em;
  }
}