.PomodoroTimer {
  border: 0;
  color: #FFF;
  height: 100vh;
  position: relative;
}

.PomodoroBackground {
  background: linear-gradient(#FAC368, #EB6C52); 
}

.RestBackground {
  background: linear-gradient(#27AAC5, #2E58B8);
}

/*
  ========================================
  Message Styles
  ========================================
*/

.message {
  font-size: 1.2em;
  margin-bottom: 6em;
  margin-top: 2em;
}

/*
  ========================================
  Timer Styles
  ========================================
*/

.timer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 12em;
  width: 12em;
}

.timer p {
  font-size: 2em;
}

.timer i {
  font-size: 3em;
  margin: .2em;
}

.play-reset {
  display: block;
  font-size: 3.5em;
  margin-top: 3em;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(-90deg);

}

/*
  ========================================
  Media Queries
  ========================================
*/ 

@media screen and (min-width: 1000px) {
  .PomodoroTimer {
    height: 80vh;
    width: 17em;
  }
}

@media screen and (min-width: 1400px) {
  .PomodoroTimer {
    height: 55vh;
    width: 17em;
  }
}